BODY {
	padding : 0.7in;
	font-size : medium;
	font-family : Times New Roman, Times, serif;
	background : white;
	border-style: solid;
	border-width: 20pt;
	border-color: midnightblue;
	padding: 0.7in;
}

body.framed {
              padding: 10pt;
              border-style:none;
              }

body.ascii{
            background-color : Black;
            }

P{
   text-indent : 2em;
   }

p.banner {
           text-align : center;
           }

P.mmix{
        text-indent : 0;
        font-size : medium;
        }

P.tip{
       color: blue;
       }

OL{
    list-style-type: decimal;
    padding-bottom : 8px;
    text-indent : 0;
    font-size : medium;
    /*background: gray;*/
    }

OL.arabic {
            list-style-type: decimal;
            }
OL.cjk {
         list-style-type: cjk-ideographic;
         }

OL.roman{
          list-style-type: lower-roman;
          }

A{
	color: #813A66;
	font-weight: bold;
	text-decoration: none;
   }

A:Hover {
	caption-side : left;
	background-color: #FF80FF;
	text-decoration: none;
          }

HR {
     color: #2E8B57;
     height: 1pt;
     }

UL {
     list-style-type : circle;
     }

div{
     border : 1pt;
     border-color : white;
     border-style : solid;
     padding: 10pt;
     }

IMG{
	border : 0;
	margin: 2 2 2 2;
     }

img.formula {
              border : thin;
              border-color: blue;
              border-style : solid;
              }


pre {
      border: #777777 1px solid;
      padding: 0.5em;
      margin-left: 1em;
      margin-right: 2em;
      white-space: pre;
      background-color: snow;
      color: #006400 ;
      font-family : Luxi Mono, Luxi Sans, Monospace, sans-serif, ו;    
      font-size: 90%;
      overflow: auto;
      max-height: 3in;
      }


pre.syntax {
             background: lightblue;
             }

pre.error {
            background-color: pink;
            }

pre.url {
          background: bisque;
          }

pre.verse { 
            background: pink;}
em {
     color: #FF9900;
     text-decoration:none;
     font-style:normal;
     }

em.phrase {
            color: blue;
            text-decoration:none;
            font-style:normal;
            }

h1 {
	ont-size:  28px;
	border-bottom: solid black 2pt;
	padding: 0.1em;
	padding-top: 0.2em;
	padding-left: 0.3em;
	padding-bottom: 2pt;
     background: ;
	color: #1E2A37;
     }

h1.home{
         color: #102C4A;
         font-size: 34px;
         }

h2 { 
     color:#666;
     font-size: 18px;
     border-top: solid black 1px;
     border-bottom: solid black 1px;
     padding: 0.1em;
     padding-top: 0.2em;
     padding-left: 0.3em;
     padding-bottom: 0.3em;
     background: LightGray;
     }

h3 { 
     color:#666;
     font-size: 16px;
     border-left: solid black 1px;
     border-bottom: solid black 1px;
     padding: 0.1em;
     padding-top: 0.2em;
     padding-left: 0.3em;
     padding-bottom: 0.3em;
     width: 70%;
     }

h4 { 
     color:#666;
     font-size: 14px;
     padding: 2px;
     margin-top: 5px;
     }

H5 {
     color: #666;
     text-align: left;
     font-size: 12px;
     font-size: 12px;
     }


LI {
     margin-top: 3ex;
     }

LI.explained {
               }

p.adage{ 
         background: lightyellow; 
         border: green; 
         border-style: solid;
         }

p.script {
           font-size: small;
           text-align:right;
           }


div.tl{ 
        position: fixed;
        width: 7%;
        top: .4cm;
        right: 0;
        left: .4cm;
        bottom: auto;
        margin:0;
        padding: 5px;
        font-size:  28px;
        color:#666;
        border-bottom: 5px solid #000;
        margin: 0px;
        margin-bottom: 8px;
        }


.example { border: 1pt solid black; padding: 10pt; background: rgb(240, 240, 255); overflow: auto }
