/* @import "tex2page.css" */

BODY {
       /*margin: 2em;*/
       padding : 1cm 1cm 2cm 1cm;
       font-size : medium;
       font-family : Luxi Serif, Lucida Serif, Lucida Sans, tahoma, Verdana, Courier, helvetica, serif, sans-serif, ו;
       background : white;
  border-style:solid;
       border-width: 2pt;        /* sets border width on all sides */
       border-color: orange;
       padding: 6%; 
       margin-top: 2em;      
       margin-left: 8%;
       margin-right: 8%;
  
       }

BODY.Home{
           background: Navy;
           }

body.framed {
              padding: 10pt;
              border-style:none;
              }

body.ascii{
            background-color : Black;
            }

/*
P{
   text-indent : 2em;
   }
*/

p.toc {
        text-indent : 0;
        }

p.banner {
           text-align : center;
           }

P.mmix{
        text-indent : 0;
        font-size : medium;
        }

P.tip{
       color: blue;
       }

OL{
    list-style-type: decimal;
    padding-bottom : 8px;
    text-indent : 0;
    font-size : medium;
    /*background: gray;*/
    }

OL.arabic {
            list-style-type: decimal;
            }
OL.cjk {
         list-style-type: cjk-ideographic;
         }

OL.roman{
          list-style-type: lower-roman;
          }


H2 {
     font-size: 20pt;
     color: navy;
     text-align : left;
     }

A{
   color: blue;
   text-decoration: none;
   }

A:Hover {
          text-decoration: none;
          background-color: bisque;
          caption-side : left;
          }

HR {
     color: #2E8B57;
     height: 1pt;
     }

UL {
     list-style-type : circle;
     }

div{
     border : 1pt;
     border-color : white;
     border-style : solid;
     padding: 10pt;
     }

IMG{
     border : 0;
     margin-left: 2pt;
     margin-right: 2pt;
     }

img.formula {
              border : thin;
              border-color: blue;
              border-style : solid;
              }

pre {
      border: #777777 1px solid;
      color: darkgreen;
      padding: 0.5em;
      margin-left: 1em;
      margin-right: 2em;
      white-space: pre;
      background-color: #e6e6e6;
      font-family : Luxi Mono, Luxi Serif, Luxi Sans, Verdana, Courier, helvetica, sans-serif, ו; 
     font-size: 90%;
      }


.verbatim {
                color: darkgreen;
                font-family : Luxi Mono, Luxi Serif, Luxi Sans, Verdana, Courier, helvetica, sans-serif, ו;
                }


pre.syntax {
             background: lightblue;
             }

pre.error {
            background-color: pink;
            }

pre.url {
          background: bisque;
          }

em {
     color: red;
     text-decoration:none;
     font-style:normal;
     }

em.phrase {
            color: blue;
            text-decoration:none;
            font-style:normal;
            }

h1 {
     font:  28px;
     color:#666;
     border-bottom: 5px solid #000;
     padding: 2px;
     margin: 0px;
     margin-bottom: 8px;
     }

h1.home{
         color: #102C4A;
         font-size: 34px;
         }

h2 {
     color:#666;
     font-size: 22px;
     padding: 2px;
     margin-top: 5px;
     border-bottom: 2px solid #000000;
     }

h3 {
     color:#666;
     font-size: 18px;
     padding: 2px;
     margin-top: 5px;
     border-bottom: 1px dashed #000;
     }

h4 {
     color:#666;
     font-size: 14px;
     padding: 2px;
     margin-top: 5px;
     }

H5 {
     color: red;
     text-align: left;
     font-size: small;
     font-size: 12px;
     }


LI {
     margin-top: 3ex;
     }

LI.explained {
               }

p.adage{
         background: lightyellow;
         border: green;
         border-style: solid;
         }

/*
#header {
        position: fixed;
        width: 100%;
        height: 15%;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
      }

div.tl{ 
        visibility: hidden;
        position: fixed;
        width: 4.2em;
        top: 0;
        right: 0;
        left: 0;
        bottom: auto;
        margin:0;
        padding:5px;
        font:  28px;
        color:#666;
        border-bottom: 5px solid #000;
        padding: 2px;
        margin: 0px;
        margin-bottom: 8px;
        }

div.navigation{ 
                position: fixed;
                width: 30%;
                top: 96%;
                right: 0;
                bottom: auto;
                margin:0;
                padding:5px;
                font:  28px;
                padding: 2px;
                margin: 0px;
                margin-bottom: 8px;
                background: white;
                border-style: dashed;
                border-width: 0.6pt; 
                border-color: orange;
                text-align: center;
                }

*/
div.history { 
              background: lightgray
              }
