/*
	Ds7.rc - version resources
*/

#include <windows.h>

#define VER_FILEFLAGSMASK			VS_FFI_FILEFLAGSMASK
#define VER_FILEOS          		VOS_NT_WINDOWS32
#define VER_FILEFLAGS				0

#define VER_COMPANYNAME_STR 		"Your Corporation"
#define VER_PRODUCTNAME_STR 		"Your Product Name"
#define VER_LEGALCOPYRIGHT_YEARS    "199X-200X"
#define VER_LEGALCOPYRIGHT_STR		"Copyright (c) Your Corporation" VER_LEGALCOPYRIGHT_YEARS
#define VER_LEGALTRADEMARKS_STR     ""
#define VER_PRODUCTVERSION			01,00,00,01
#define VER_PRODUCTVERSION_STR		"1.00"
#define VER_FILEVERSION				VER_PRODUCTVERSION
#define VER_FILEVERSION_STR			VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_DW       (0x01000000 | VER_PRODUCTBUILD)

#define VER_FILETYPE				VFT_DRV
#define VER_FILESUBTYPE				VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR		"Description string for Ds7 driver"
#define VER_INTERNALNAME_STR		"Ds7.sys"
#define VER_ORIGINALFILENAME_STR	VER_INTERNALNAME_STR

#ifdef RC_INVOKED

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  VER_FILEFLAGSMASK
FILEFLAGS      VER_FILEFLAGS
FILEOS         VER_FILEOS
FILETYPE       VER_FILETYPE
FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN
            VALUE "CompanyName",     VER_COMPANYNAME_STR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR 
            VALUE "FileVersion",     VER_FILEVERSION_STR
            VALUE "InternalName",    VER_INTERNALNAME_STR
            VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",VER_ORIGINALFILENAME_STR
            VALUE "ProductName",     VER_PRODUCTNAME_STR
            VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
        END

    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

#endif

