body {
	font-family:helvetica,arial,sans-serif;
	xbackground-color:#ffffff
}

h1 {text-align:center}

/*h3 { font-size:large; text-decoration: bold; }*/

a { text-decoration: none }
a:hover { text-decoration: underline;  }

li
{
	list-style-type: circle
}

.tab { color: #555555;  background-color: #eeeeee;    text-decoration: none; font-size:x-small; font-weight:bold  }
.title { font-size:xx-large; font-weight:bold  }
.txt { color: black; text-decoration: none}
.tabaaa { text-decoration: none; background-color: #eeeeee; color:#ff0000; }
.ref2 { color: black; text-decoration: none }
.ref2:visited { color: black; text-decoration: underline }
.txt:visited { color: black; text-decoration: none }
.ref2:hover { color: black; text-decoration: underline }
.txt:hover { text-decoration: underline }

.small { font-size:x-small; text-decoration: none; color: #555555;; }
a.small:link { font-size:x-small; text-decoration: none; color: #555555;; }
a.small:hover { font-size:x-small; text-decoration: underline; color: #555555;; }
a.small:visited { font-size:x-small; text-decoration: none; color: #555555;; }

/*
aaaaa { 
		xxa:xxlink { color: black; text-decoration: none }
		xxa:xxvisited { color: black; text-decoration: none }
		xxa:xxactive { color: red; text-decoration: none }
		xxa:xxhover { color: green; text-decoration: underline }
}*/
