.docPrefaceTitle, .docAppendixTitle, .docChapterTitle, .docBibliographyTitle, .docArticleTitle, .docGlossaryTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:x-large; font-weight:bold; }
.docSection1Title, .docBibliodivTitle, .docBridgehead
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:large; font-weight:bold; }
.docSection2Title, .docBibliosetTitle
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:medium; font-weight:bold; }
.docSection3Title, .docSection4Title, .docSection5Title
	{ font-family:Arial,Helvetica,sans-serif; color:#333333; font-size:small; font-weight:bold; }

.docFigureTitle, .docTableTitle, .docExampleTitle, .docTocTitle, .docAbstractTitle, .docQandasetTitle, .docProcTitle, .docRefsectTitle
	{ font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000; font-size:small; font-weight:bold; }

.docText {   }
.docList {  }
.docMonofont { color:#790029; font-family: monospace; }
.docFootnote { color:#666666; font-size:small; }
.docLink { color:#003399; }
.docLink:visited { color:#3366CC; }
.docLink:hover { color:#000033; }

.docEmphasis { font-style:italic; }
.docPubcolor { color:#333333; }

h1, h2, h3, h4, h5, h6 { color:#333333; }
pre { color:#790029;}
tt { color:#790029;  font-family:monospace;  } 
body { font-family:Arial,Helvetica,sans-serif; }
