BODY
{
	FONT: 14px "Times New Roman",宋体,Georgia,"Trebuchet MS";
    LINE-HEIGHT:1.6;
    VERTICAL-ALIGN:baseline;
    
    margin-left:auto; 
	margin-right:auto;
	width:1000px;
	/*BACKGROUND:  url("banner.gif") no-repeat top center;*/
	/*background-positionX:center;*/
	BACKGROUND:#fafafa url("images/bg.jpg") repeat-x;
}

#container
{
    position:relative;
    WIDTH: 1000px;
}
/*
.hideshow
{
	color:#2a6db9
}

a.hideshow:hover
{
	color:#2a6db9;
	border:none;
}*/

#banner
{
	height:200px;
	BACKGROUND:  url("images/banner.gif") no-repeat top center;
}
#navfoot
{
	clear: both;
}

#body
{
    WIDTH: 800px;
    
    padding-left:10px ;
    /*border:#F0E9D6 1px solid;
    border-right:5px inset #F0E9D6;
    border-bottom:5px inset #F0E9D6;*/
    float:left;
    
}

#page
{
	BORDER-TOP: #BBD6FF 5px solid;
	padding:10px;
	BORDER-RIGHT: #BBD6FF 1px solid;
    
}

#leftshadow
{
	float:left;
	padding-left:10px;
	background:#fff url("images/side_shadow.jpg") repeat-y;
}
#bottomshadow
{
	background:#fff url("images/bot_shadow.jpg") no-repeat;
	width:800px;
}


#links
{
	clear: both;
	position:absolute;
	
	top:0px;
	right:0px;
	width:160px;
	BORDER-TOP: #BBD6FF 5px solid;
	padding:10px;
	BORDER-RIGHT: #BBD6FF 1px solid;
	BORDER-left: #BBD6FF 1px solid;
	BORDER-bottom: #BBD6FF 1px solid;
}


#links a
{
	CLEAR: none;
    MARGIN-TOP: 5px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    
    WIDTH: 160px;
    COLOR: #4a4a4a;
    LINE-HEIGHT: 24px;
    
    BORDER-BOTTOM: #999 1px dotted;
    BACKGROUND-COLOR: #EEF1FF;
    TEXT-ALIGN: center
}

#links A:hover
{
    COLOR: #fff;
    BACKGROUND-COLOR: #2a6db9;
    BORDER-RIGHT-COLOR: #336699
}

#links h4
{
	text-align:center;
    BORDER-LEFT: medium none;
    COLOR: #fff;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #2a6db9;
    margin-right:0px;
    margin-left:0px;
    padding-left:0px;
    font-size:16px;
}

#header
{
	
	/*BORDER-BOTTOM: #0022AA 1px dashed;
	padding-bottom:-40px;*/
	margin-bottom:50px;
}
H1
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 25px;    
    COLOR: #2a6db9;    
    padding-left:40px;
    margin-bottom:-30px;
}

H2
{
    CLEAR: both;
    BORDER-RIGHT: #005a9c 1px dashed;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #005a9c 1px dashed;
    MARGIN-TOP: 40px;
    padding-left:10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    BACKGROUND: #eef1ff;
    PADDING-BOTTOM: 3px;
    
    BORDER-LEFT: #0029cc 6px solid;
    COLOR: #0029cc;
    LINE-HEIGHT: 1;
    
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #005a9c 1px dashed;
    FONT-FAMILY: georgia, "Trebuchet MS";
}

H3
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    MARGIN-TOP: 20pt;
    margin-left:10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    BACKGROUND: #d9eae0;
    PADDING-BOTTOM: 3px;
    margin-right:10px;
    BORDER-LEFT: #2b804c 6px solid;
    COLOR: #2b804c;
    LINE-HEIGHT: 1;
    padding-left:10px;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #2b804c 1px solid;
    FONT-FAMILY: georgia, "Trebuchet MS";
    VERTICAL-ALIGN:baseline
}

h4
{
	color:#0044AA;
	margin-left:7px;
}
ul LI
{
    PADDING-RIGHT: 50px;
    MARGIN-TOP:5px;
    LIST-STYLE-POSITION: outside;
    LIST-STYLE-IMAGE: url("images/star.gif") 
}

ol LI
{
    PADDING-RIGHT: 50px;
    MARGIN-TOP:5px;
    LIST-STYLE-POSITION: outside;
}

LI.logo
{
    FLOAT: left;
    LIST-STYLE-IMAGE: none;
    LIST-STYLE-TYPE: none
}

A
{
	
    COLOR: #ff9900;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ff2222;
    BORDER-BOTTOM: #ff2222 1px dashed;
    BACKGROUND-COLOR: #eeeeee;
    TEXT-DECORATION: none
}

A.external:active
{
}

A.external
{
    PADDING-RIGHT: 10px;
    BACKGROUND-POSITION: right 50%;
    BACKGROUND-IMAGE: url("images/external.png");
    COLOR: #0066ff;
    BACKGROUND-REPEAT: no-repeat
}
A.external:hover
{
    COLOR: #0066ff;
    BORDER-BOTTOM: #0066ff 1px dashed;
    BACKGROUND-COLOR: #eeeeee
}
.gsp
{
    PADDING-LEFT: 20px;
    PADDING-TOP: 5px;
    BACKGROUND: url(images/gsp_icon.gif) no-repeat left 50%;
    text-align: center
}
.setup
{
    PADDING-LEFT: 20px;
    BACKGROUND: url(images/setup_icon.jpg) no-repeat left 50%;
    text-align: center
}
.exe
{
    PADDING-LEFT: 20px;
    BACKGROUND: url(images/exe_icon.jpg) no-repeat left 50%;
    text-align: center
}
.TeX
{
	PADDING-LEFT: 20px;
	PADDING-TOP: 5px;
    BACKGROUND: url(images/TeX_icon.gif) no-repeat left 50%;
    text-align: center
}
.html
{
	PADDING-LEFT: 20px;
	PADDING-TOP: 5px;
    BACKGROUND: url(images/html_icon.jpg) no-repeat left 50%;
    text-align: center
}
.pdf
{
	PADDING-LEFT: 20px;
	PADDING-TOP: 5px;
    BACKGROUND: url(images/pdf_icon.gif) no-repeat left 50%;
    text-align: center
}
.update
{
    COLOR: #ff0000;
    FONT-STYLE: italic;
    TEXT-ALIGN: right
}
.copyright
{
    TEXT-ALIGN: center
}
P
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 10px;
    TEXT-INDENT: 2em;
    VERTICAL-ALIGN:baseline;
}

p.image
{
	text-align:center
}


TH
{
    BORDER-RIGHT: buttonshadow 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: buttonhighlight 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 14px;
    BACKGROUND:#EEF5FF;
    OVERFLOW: hidden;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-BOTTOM: buttonshadow 1px solid
}
TD
{
    BORDER-RIGHT: buttonshadow 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: buttonhighlight 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 14px;
    BACKGROUND: #d9e7e2;
    OVERFLOW: hidden;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-BOTTOM: buttonshadow 1px solid
}*/


/* Table */



table.muse-table th {
   border-top: buttonhighlight 0px solid; 
   border-bottom: buttonshadow 1px solid;
   border-left: buttonhighlight 0px solid; 
   border-right: buttonshadow 1px solid;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   overflow: hidden; 
   font-size: 14px;
   vertical-align: baseline;
   background: #EEF5FF;
}
table.muse-table td {
   border: 1px solid #cccccc;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   overflow: hidden; 
   vertical-align: baseline;
   background: #d9e7e2;
   margin:auto
}

table.muse-table
{
border-width:1px;
border-color:#0000FF;
border-collapse:collapse;
margin-bottom:10px;
mycenter:expression(this.align='center')
}

.item
{
    CLEAR: both;
    PADDING-RIGHT: 1ex;
    PADDING-LEFT: 1ex;
    PADDING-BOTTOM: 1ex;
    PADDING-TOP: 1ex
}
.picright
{
    BACKGROUND: #ccc;
    FLOAT: right;
    MARGIN: 10px
}
.picleft
{
    BACKGROUND: #ccc;
    FLOAT: left;
    MARGIN: 10px
}
.piccenter
{
    CLEAR: both;
    BACKGROUND: #ccc;
    MARGIN: 10px
}
.pic
{
    BORDER-RIGHT: #333 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #333 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 3px;
    BACKGROUND: #fff;
    LEFT: -4px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #333 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #333 1px solid;
    POSITION: relative;
    TOP: -4px
}

img.picture
{
	CLEAR: both;
    DISPLAY: block;
    FLOAT: none;
    MARGIN-BOTTOM: 5px;
    MARGIN-TOP: 5px;
    margin-left:auto;
    margin-right:auto;
    border:#BBD6FF 1px solid;
}

img.smallpicture
{
	CLEAR: both;
    FLOAT: none;
    MARGIN-BOTTOM: 5px;
    MARGIN-TOP: 5px;
    border:#BBD6FF 1px solid;
}

IMG.latex-inline
{
    DISPLAY: inline;
    FLOAT: none;
    MARGIN-BOTTOM: 3px;
    MARGIN-TOP: 3px;
    padding-LEFT: 4px;
    padding-RIGHT:4px;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    POSITION: relative;
    BORDER-BOTTOM-STYLE: none
}
IMG.latex-display
{
    CLEAR: both;
    DISPLAY: block;
    FLOAT: none;
    MARGIN-BOTTOM: 5px;
    MARGIN-TOP: 5px;
    margin-left:auto;
    margin-right:auto;
    VERTICAL-ALIGN: middle;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    POSITION: relative;
    
    BORDER-BOTTOM-STYLE: none
}
PRE
{
    BORDER-RIGHT: 1px solid;
    PADDING-RIGHT: 0em;
    BORDER-TOP: 1px solid;
    PADDING-LEFT: 1em;
    BACKGROUND: #fff5ee;
    PADDING-BOTTOM: 0.5em;
    FONT: 9pt "Bitstream Vera Sans", Courier New, helvetica;
    MARGIN-LEFT: 8%;
    BORDER-LEFT: 1px solid;
    COLOR: #284d6a;
    MARGIN-RIGHT: 8%;
    PADDING-TOP: 0.5em;
    BORDER-BOTTOM: 1px solid
}
SPAN.comment
{
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 1.6
}
.comment
{
    FONT-WEIGHT: bold;
    COLOR: #cd0000;
    FONT-STYLE: italic
}
.function-name
{
    FONT-WEIGHT: bold;
    COLOR: #0000ff
}
.keyword
{
    FONT-WEIGHT: bold;
    COLOR: #a020f0
}
.preprocessor
{
    FONT-WEIGHT: bold;
    COLOR: black
}
.string
{
    COLOR: #008b00
}
.type
{
    COLOR: #000080
}
.variable-name
{
    COLOR: #8b5a2b
}
.doc
{
    COLOR: #f0a4a4
}
.font-latex-italic
{
    FONT-STYLE: italic
}
/*
.toplink { 
	float: right;
	line-height:1;
}
.toplink A { 
	text-decoration: none;
	color: inherit;
	background: inherit;
}
.toplink A:hover { text-decoration: underline }
*/
.toplink
{
	float:right;
	border:0px;
	padding-top:3px;
}

A.toplink:hover {
	COLOR: #0066ff;
    BORDER-BOTTOM: #0066ff 1px dashed;
    BACKGROUND-COLOR: #eeeeee
}
/*strong {font:黑体}*/

.theorem
{
    BORDER-RIGHT: 1px dashed;
    PADDING-RIGHT: 0;
    PADDING-LEFT: 10px;
    BORDER-TOP: 1px dashed;
    MARGIN-RIGHT: 10px;
    PADDING-BOTTOM: 0.5em;
    FONT-SIZE:13pt;
    FONT-FAMILY: "楷体_GB2312" "楷体";
	BACKGROUND: #F1FFEE;
    BORDER-LEFT: 1px dashed;
    COLOR: #284d6a;
    PADDING-TOP: 0.5em;
    BORDER-BOTTOM: 1px dashed;
    LINE-HEIGHT:1.5;
    MARGIN-BOTTOM:1em;
}

.algorithm
{
    BORDER-RIGHT: 1px dashed;
    PADDING-RIGHT: 0;
    PADDING-LEFT: 10px;
    BORDER-TOP: 1px dashed;
    MARGIN-RIGHT: 10px;
    PADDING-BOTTOM: 0.5em;
    FONT-SIZE:13pt;
    FONT-FAMILY: "楷体_GB2312" "楷体";
	BACKGROUND: #F1FFEE;
    BORDER-LEFT: 1px dashed;
    COLOR: #284d6a;
    PADDING-TOP: 0.5em;
    BORDER-BOTTOM: 1px dashed;
    LINE-HEIGHT:1.5;
    MARGIN-BOTTOM:1em;
}

.theorem-header
{
	COLOR:#0000FF;
    FONT-WEIGHT:bold;
    FONT-FAMILY:"宋体";
}

.theorem-name
{
	COLOR:#0000FF;
	FONT-FAMILY:"宋体";
	PADDING-RIGHT:.5em
}

.proof-end
{
	COLOR:#0000FF;
	
}

.solution-end
{
	COLOR:#0000FF
}

.example-end
{
	COLOR:#0000FF
}

.proof-header
{
	COLOR:#0000FF;
	FONT-SIZE:13pt;
	FONT-FAMILY:"楷体_GB2312" "楷体";
	PADDING-RIGHT:.5em
}

.ref-eq
{
	PADDING-LEFT:2px;
	PADDING-RIGHT:2px;
	COLOR:#FF0000
}

.ref-th
{	
	PADDING-LEFT:2px;
	PADDING-RIGHT:2px;
	COLOR:#FF0000
}

.ref-th-external 
{
	PADDING-LEFT:2px;
	PADDING-RIGHT:15px;
	BACKGROUND-POSITION: 70%;
	BACKGROUND-IMAGE: url(images/external.png);
    COLOR: #0066ff;
    BACKGROUND-REPEAT: no-repeat
}

.ref-eq-external 
{
	PADDING-LEFT:2px;
	PADDING-RIGHT:20px;
	BACKGROUND-POSITION: 80%;
	BACKGROUND-IMAGE: url(images/external.png);
    COLOR: #0066ff;
    BACKGROUND-REPEAT: no-repeat
}

a.ref-th-external:hover
{
    COLOR: #0066ff;
    BORDER-BOTTOM: #0066ff 1px dashed;
    BACKGROUND-COLOR: #eeeeee
}

a.ref-eq-external:hover
{
    COLOR: #0066ff;
    BORDER-BOTTOM: #0066ff 1px dashed;
    BACKGROUND-COLOR: #eeeeee
}

.footdate 
{	
	COLOR:#225C84
}

.foothome
{	
	COLOR:#225C84
}

.footcopy
{	
	COLOR:#225C84
}

.index-to-do
{
	COLOR:#FF0000;
	FONT-FAMILY:黑体;
	FONT-SIZE:110%
}

.citation
{
	display: none
}

span.nocite
{
	display: none
}

span.topcite
{
	vertical-align:super
}

A.cite
{
	COLOR:#FF0000
}

A.ref
{
	margin-right:10px;
	COLOR:#FF0000
}


h4.ref
{
	CLEAR: both;
    PADDING-RIGHT: 0px;
    MARGIN-TOP: 20pt;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    BACKGROUND:#FFEBCC;
    PADDING-BOTTOM: 3px;

    BORDER-LEFT: #2b804c 6px solid;
    COLOR:#ff0000;
    LINE-HEIGHT: 1;
    
    PADDING-TOP: 3px;
    BORDER-LEFT: #EE0000 6px solid;
    FONT-FAMILY: georgia, "Trebuchet MS";
    VERTICAL-ALIGN:baseline
}
    
.ref-title
{
	
	FONT-STYLE:italic}

.ref-title-chs
{
	FONT-FAMILY:"楷体_GB2312" "楷体";
}

.ref-volume
{
	FONT-WEIGHT:bold
}

table.image
{
	border-top:#BBD6FF 5px solid;
	BORDER-RIGHT: #BBD6FF 1px solid;
	BORDER-left: #BBD6FF 1px solid;
	BORDER-bottom: #BBD6FF 1px solid;
}

table.image td
{
	background: #FFFFFF;
	border:0px;
	
}

table.image td.image-caption
{background:#BBD6FF}


#tab {
	float:right;
      font-size:12px;
      width:100%;
      border-bottom:1px dashed #666;
      }
      
    #tab ul {
	margin:0;
	padding:0px 0px 0 0px;
	list-style:none;
      }
    #tab li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tab a {
      float:right;
      background:url("images/tableft.gif") no-repeat left top;
      margin-left:5px;
      padding:0 0 0 4px;
      text-decoration:none;
      border:none;
      }
    #tab a span {
      float:right;
      display:block;
      background:url("images/tabright.gif") no-repeat right top;
      padding:5px 15px 4px 9px;
      color:#666;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tab a span {float:none;}
    /* End IE5-Mac hack */
    #tab a:hover span {
      color:#FFF;
      border:none;
      }
    #tab a:hover {
      background-position:0% -42px;
      text-decoration:none;
      }
    #tab a:hover span {
      background-position:100% -42px;
      }

div#terminals{
    width:100%;
    max-height:100%;
    margin-top:20px;
  margin-bottom:20px;
    text-align:middle;
    font-size:14px;
    color:black;
    background-color:white;
}
.terminals_input{
    border:4px solid #bbb;
    padding: 6px;
    background-color:white;
    margin:0 auto 5px;
    margin-top:5px;
    font-family:"Courier New";
    font-size:18px;
    width:650px;/*750px;*/
    /*height:40px;*/
    /*overflow-y:visible;*/
    overflow = "hidden";
    min-height:20px;
}
.terminals_input_button{
    margin:0 auto 5px;
    margin-top:5px;
    font-family:"Courier New";
    font-size:18px;
}
.terminals_input_help{
    border:4px solid #bbb;
    padding: 6px;
    background-color:white;
    margin:0 auto 5px;
    margin-top:5px;
    font-family:"Courier New";
    font-size:18px;
    width:400px;
    /*height:40px;*/
    /*overflow-y:visible;*/
    overflow = "hidden";
    min-height:20px;
}
.terminals_submit_help{
    /*border:4px solid #eee;
    padding: 6px;
    background-color:#EEF1EE;*/
    margin:0 auto 15px;
    margin-top:15px;
    margin-left:50px;
    font-family:"Courier New";
    font-size:13px;
    width:100px;
    height:40px;
    /*overflow-y:visible;
    overflow = "hidden";
    min-height:20px;*/
}
.terminals_input_help_text{
    
    padding: 6px;
   
    margin:0 auto 5px;
    margin-top:5px;
    font-family:"Courier New";
    font-size:18px;
    /*height:40px;*/
    /*overflow-y:visible;*/
    overflow = "hidden";
    min-height:20px;
}
.terminals_input_help_bg{
   
    
    background-color:#ddd;
    border-style:none;
    margin-top:5px;
    font-family:"Courier New";
    font-size:18px;
    /*height:40px;*/
    /*overflow-y:visible;*/
    overflow = "hidden";
    min-height:20px;
}
.terminals_output{
   border:4px solid #bbb;
   padding: 6px;
   background-color:white;
   margin:0 auto 5px;
   margin-top:5px;
    width:650px;/*750px;*/
   /* height:40px;*/
    min-height:15px;
}
.helper{
    border:4px solid #ddd;
    padding: 6px;
    background-color:#F2FFDD;
    margin:0 auto 5px;
    margin-top:5px;
    width:750px;
   /* height:40px;*/
    min-height:15px;
}